/3png.png
/Daily distribution of Uber rides throughout the week.png
/daily uber rides.png
/Heatmap showing the busiest Uber pickup locations in NYC.png
/hourly patterns of Uber rides across different weekdays.png